@model ShortLinks.Models.ShortLink

@{
    ViewBag.Title = "Создать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Сокращенный URL</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LongUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LongUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите длинную ссылку для сокращения"} })
                @Html.ValidationMessageFor(model => model.LongUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Список сокращенных URL-ов", "Index", null, new { @class = "btn btn-primary active"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
